
<br>
<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">


  <div  class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateToVenueForm()">
      <mat-icon>assignment</mat-icon>
      <span class="button-label"> Registration Form</span>
    </button>
  </div>
  
  <div  class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateTouser()">
      <mat-icon></mat-icon>
      <span class="button-label"> User </span>
    </button>
  </div>
  <div  class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateToedit()">
      <mat-icon></mat-icon>
      <span class="button-label"> Events </span>
    </button>
  </div>

 

</div><br>

<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">

  <div class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateToHodApprovedevent()">
      <mat-icon></mat-icon>
      <span class="button-label">HOD Events</span>
    </button>
  </div>

  <div class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateTopic()">
      <mat-icon></mat-icon>
      <span class="button-label">Priest incharge Events</span>
    </button>
  </div>

  <div  class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateTodirector()">
      <mat-icon></mat-icon>
      <span class="button-label">Director Events</span>
    </button>
  </div>

</div>
<br>

<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" >

  <div  class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateToaccount()">
      <mat-icon></mat-icon>
      <span class="button-label"> Account Screen</span>
    </button>
  </div>

  <div  class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateTopharmacy()">
      <mat-icon></mat-icon>
      <span class="button-label"> Pharmacy screen</span>
    </button>
  </div>
  <div  class="button-container">
    <button mat-raised-button class="outlined-square-button" (click)="navigateTopurchase()">
      <mat-icon></mat-icon>
      <span class="button-label"> Purchase Screen  </span>
    </button>
  </div>

  </div>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div  class="button-container">
      <button mat-raised-button class="outlined-square-button" (click)=" navigateToassignedstaff()">
        <mat-icon></mat-icon>
        <span class="button-label">Assigned Staff</span>
      </button>
    </div>
    <div  class="button-container">
      <button mat-raised-button class="outlined-square-button" (click)="navigateTovenueincharge()">
        <mat-icon></mat-icon>
        <span class="button-label">Venue Incharge</span>
      </button>
    </div>
    <div  class="button-container">
      <button mat-raised-button class="outlined-square-button" (click)=" navigateTosoftware()">
        <mat-icon></mat-icon>
        <span class="button-label">Department Incharge</span>
      </button>
    </div>
  </div>

  <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" >
 
    <div  class="button-container">
      <button mat-raised-button class="outlined-square-button" (click)="navigateTocompletedevent()">
        <mat-icon></mat-icon>
        <span class="button-label"> completed Events</span>
      </button>
    </div>
    <div class="button-container">
      <button mat-raised-button class="outlined-square-button" (click)="navigateToEvents()">
        <mat-icon>event</mat-icon>
        <span class="button-label">Filter</span>
      </button>
    </div>
    <div (click)="navigateTocalender()">
      <time datetime="2014-09-20" class="icon">
        <span class="weekday">{{weekday}}</span>
        <strong>{{month}}</strong>
        <span class="day">{{day}}</span>
      </time>
    </div>
  
  </div><br> -->

  <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">


    <button mat-raised-button class="outlined-square-button" (click)="navigateTocalender()">
      <div class="calendar-button-content">
        <div class="calendar-header"></div>
        <div class="calendar-date">{{ currentDate }}</div>
        <div class="calendar-label">Calendar</div>
      </div>
    </button>
    </div> -->
