.datebutton{
  border-radius: 20px; 
}

.date-container {
  display: flex;
  align-items: center;
  padding-bottom: 0px;
}

.date-day {
  font-size: 2rem; /* Large size for the day number */
  font-weight: bold;
  margin-right: 10px; /* Space between day and month */
  color: #000; /* Optional color */
}

.date-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.month-year {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1d1616;
}

.time {
  padding: 1px;
  font-size: 1rem;
  color: #0e0b0b;
}
.event-card {
  margin-bottom: 16px; /* Adds a 16px gap between each card */
}

