
mat-card {
  margin-bottom: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
  padding: 16px; 
}

.mat-card-title {
  font-weight: bold;
  color: #070808 !important;
  white-space: nowrap;        
  text-overflow: ellipsis;
  display: block; /* Ensure it's a block element */
  max-width: 150px;  /* Set the max width */
  overflow: hidden;  /* Hide the overflowing content */
}



mat-card-content {
  padding: 10px 0; 
}

mat-card-content p {
  margin-bottom: 8px; 
  line-height: 1.5; 
}
.chip-item {

  margin-right: 8px; 
  margin-bottom: 8px;
}
.selected-chip {
  background-color: lightblue !important; /* Example: green when selected */
  color: rgb(7, 7, 7) !important;             /* White text when selected */
}

.button-label {
  align-items: center; 
  justify-content: center; 
  font-size: 12px;
  
}
.button-label mat-icon {
  margin-left: 10px; 
  
}
.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;  
  height: 20px; 
  border-radius: 50%; 
  background-color: #cbccd4; 
  padding: 4px;
  box-shadow: 0px 6px 12px rgba(0.3, 0.3, 0.3, 0.3); 
}


.icon-circle mat-icon {
  font-size: 18px; 
}


.avatar {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0px 6px 12px rgba(0.3, 0.3, 0.3, 0.3); 
}
.status-buttons {
  display: flex;
  gap: 12px;
}
.small-button {
  padding: 4px 8px;
  font-size: 12px;
  min-width: 64px; /* Ensure Material Design guidelines are met */
  height: 26px;    /* Optional: Adjust height */
  border-radius: 16px !important;
  box-shadow: 0px 6px 12px rgba(0.3, 0.3, 0.3, 0.3); 
}

.half-circle-container {
  align-items: center; /* Center content vertically */
  justify-content: flex-end; /* Align the half-circle to the right */
  height: 100%; /* Matches the card header's height */
  position: absolute;
  top: 1px; /* Adjust top distance from the edge */
  right: 2px; /* Adjust right distance from the edge */
  z-index: 1;
}
.half-circle {
  position: relative; /* Contains the text inside */
  width: 100px;
  height: 50px;
  background-color: #ccdbf5;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 5px 5px rgba(14, 14, 15, 0.2);
  display: flex; /* Flexbox for centering content */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center text vertically */
  align-items: center; /* Center text horizontally */

}
.datebutton{
  border-radius: 20px; 
}

.active-button {
  background-color: #979694 !important; /* Highlight color */
  color: white !important; /* Text color */
  font-weight: bold;
}
.chip-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color:#3f51b5;
  color: white;
  border-radius: 50%;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
}

.class{
  margin-top: 16px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex
;
}